body {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  max-width: 1440px;
  font-weight: 400;
  z-index: -1;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background: #000;
  z-index: -1;
}

/*HEADER*/
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 92px 50px;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px
}

.header__links-list-item {
  list-style: circle;
  font-size: 18px;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
  cursor: default;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  display: inline-block;
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  justify-content: end;
}

.adress {
  max-width: 240px;
  line-height: 1.3;
  color: #000;
  font-size: 18px;
  font-style: normal;
}

.adress a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/*COVER*/
.cover {
  position: relative;
  background: #000000 url(../images/cover.jpg) no-repeat center / cover;
  padding: 165px 50px 50px 50px;
  color: #fff;
  z-index: 0;
  margin-bottom: 180px;
}

.cover__title {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding-bottom: 136px;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
  line-height: 115%;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
  margin-left: -60px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  margin-right: -35px;
}

.letter-spacing-extended {
  letter-spacing: 32px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text_right .no-letter-spacing {
  letter-spacing: 35px;
}

.cover__description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: baseline;
  gap: 78px
}

.cover__description-text {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

/*LOTS*/
.lots {
  padding: 0 50px;
  margin-bottom: 180px;
}

.lots__heading {
  padding: 0 0 27px 40px ;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 430px;
  min-height: 450px;
}

.card-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  gap: 30px;
  padding: 50px 40px;
  z-index: 1;
}

.card_type_film {
  background: #000000 url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  background: #000000 url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  background: #000000 url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card__title {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  line-height: normal;
  background: none;
  border: none;
  margin-left: 34px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

/*ABOUT*/
.about {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  margin: 0 50px 180px 50px;
}

.about__column:first-child {
  flex: 0.97;
}

.about__column:last-child {
  margin-top: 100px;
  flex: 2;
}

.about__logo {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  padding: 45px;
  display: flex;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-size: 20px;
  line-height: normal;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: start;
  padding: 0 50px 90px 50px;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
  cursor: default;
}

.footer__social-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  border: none;
}

.footer__social-icon {
  height: 48px;
}
